@model IEnumerable<Bookshelf.ViewModels.BookViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book</title>
</head>
<body>
    <table>
        @foreach (var book in Model)
        {
            <tr>
                <td>@Html.ActionLink(book.Id.ToString(), "Details", new { id = book.Id })</td>
                <td>@book.Title</td>
                <td>@book.Genre</td>
            </tr>
        }
    </table>
</body>
</html>