@model IEnumerable<Bookshelf.ViewModels.BookViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book</title>
</head>
<body>
    <table>
        @foreach (var book in Model)
        {
            @Html.Partial("_Book", book);
        }
    </table>
</body>
</html>